In [1]:
myList1 = [1,2,3,4]

In [4]:
myList1

[1, 2, 3, 4]

In [8]:
myList1 = [i for i in range(20)]

In [10]:
myList1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
myList1.append(1234)

In [13]:
myList1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 1234,
 1234]

In [14]:
myList1.pop(0)

0

In [16]:
myList1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 1234, 1234]

In [18]:
myList1.sort()

In [21]:
myList1.sort(reverse=True)

In [24]:
myList1

[1234, 1234, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
myList2 = list(reversed(myList1))

In [27]:
myList2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 1234, 1234]

In [29]:
myList2.index(16)

15

In [57]:
import random
ml2 = [[random.randint(0,9) for _ in range(5)] for _ in range(5)]

In [37]:
ml2

[[4, 8, 8, 5, 5],
 [5, 9, 2, 0, 9],
 [2, 0, 5, 2, 7],
 [0, 4, 1, 1, 8],
 [3, 8, 7, 3, 8]]

In [58]:
ml2[0][3]

6

In [59]:
md3 = ml2[:]

In [60]:
md3.append(33333)

In [62]:
md3[0].append(7777777)
md3

[[5, 0, 3, 6, 8, 7777777, 7777777],
 [4, 6, 9, 2, 9],
 [6, 4, 5, 2, 6],
 [1, 2, 8, 9, 4],
 [1, 9, 5, 8, 0],
 33333]

In [63]:
ml2

[[5, 0, 3, 6, 8, 7777777, 7777777],
 [4, 6, 9, 2, 9],
 [6, 4, 5, 2, 6],
 [1, 2, 8, 9, 4],
 [1, 9, 5, 8, 0]]

In [40]:
ml1 = [random.randint(1,9) for _ in range(10)]

In [41]:
ml1

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9]

In [42]:
ml1[0]

5

In [43]:
ml1[2:5]

[4, 3, 3]

In [44]:
ml1[2:]

[4, 3, 3, 6, 7, 9, 9, 9]

In [45]:
ml1[2::1]

[4, 3, 3, 6, 7, 9, 9, 9]

In [46]:
ml1[::2]

[5, 4, 3, 7, 9]

In [47]:
ml1[::-1]

[9, 9, 9, 7, 6, 3, 3, 4, 4, 5]

In [48]:
ml2 = ml1

In [49]:
ml2

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9]

In [50]:
ml2.append(1234)

In [51]:
ml2

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9, 1234]

In [52]:
ml1

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9, 1234]

In [53]:
ml2 = ml1[:]

In [54]:
ml1.append(3333)

In [55]:
ml1

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9, 1234, 3333]

In [56]:
ml2

[5, 4, 4, 3, 3, 6, 7, 9, 9, 9, 1234]

In [66]:
mt = (1,2,3)
mt

(1, 2, 3)

In [67]:
d1 = {1 : '하나', 2 : '둘', 3:'셋'}

In [69]:
d1

{1: '하나', 2: '둘', 3: '셋'}

In [70]:
d1[2]

'둘'

In [71]:
d1[1] = '하나'
d1

{1: '하나', 2: '둘', 3: '셋'}

In [72]:
d1[4] = '넷'

In [73]:
d1

{1: '하나', 2: '둘', 3: '셋', 4: '넷'}

In [74]:
s1 = set([55,1,2,3,4,5,6,7,7])
s1

{1, 2, 3, 4, 5, 6, 7, 55}